</nav>
		</header>
		<div class="wrapper clearfix">
			</div>
		<div class="col-1: homepage_content"> 
				<h2>About</h2>
				<hr align="center" width="20%">
				<h4>Welcome to my blog! My name is Scott Fessler, and I'm a 22 year old currently splitting my time between Baltimore and Long Island. I live for music, film, tv, sports, the Michigan Wolverines and the New York Knicks. <br><br>Feel free to head over to my "thoughts" section to check out some ideas I've had regarding the interests I mentioned above, and of course, my life in general. Additionally, check out some of my latest work in the "projects" tab. Last but not least, head on over to "contact" and shoot me an email with some of your thoughts. This is Life By SRF.</h4>
				</div>