<div class="wrapper clearfix">
</div>
<div class="col-1: homepage_content"> 
	<h2>Projects</h2>
	<hr align="center" width="20%">



	<h2>

	<iframe src="https://open.spotify.com/embed/user/we17xtzwz83mkcsf5iszjao5m/playlist/78gELeEzhfAZNddo9Nitne" width="600" height="100" frameborder="0" allowtransparency="true"></iframe>

	<br>

	<a href='https://photos.google.com/share/AF1QipOu--P1Nzowpe-2cieMoRIp24_4qYslovDQ0R0nhL05EON7Pz6DQLu6T6455Jnywg?key=OUpEUy1UY3R5NlRLemptRGYyWUdWeWwxMU5xU1dB&source=ctrlq.org'><img src='https://lh3.googleusercontent.com/gkKqVojU48TslAQQGgPqGLHP1290PK66A71iaFEPbXEkStZzcTiTbCurvqCLPk7avc31CMFRR7Dy5OJi1xC3oXSGAj8rMhN06OPwQArsIUs5quLiWafBjWIZzGkWTtYuLhXdlVTsUA' /></a>

	<a href='https://photos.google.com/share/AF1QipM6m0W6hflW6JMP-ieO6KjdaLl06dflHng7yrZ7zmdZf7W16iwJa3UlR0ZZ63i6iA?key=djZsZWFldXZfRzZKVHo2MHlWYjlsdG5XNUhiUTR3&source=ctrlq.org'><img src='https://lh3.googleusercontent.com/7Lmt0Ibl9G-TB-Yhnom7wEQZbtbohWKmJ7p67bvNJBe61X5EhgaZMQw5h9CyRSOnPDv_jcGRYgnAARk4ecMMmzN2UZemBD3_gEQYTcNIdT9sK7rzVkH9X4BOqGxt9VCuSSjqtkcGOw' /></a>

	<a href='https://photos.google.com/share/AF1QipNP16DhoJLoJb5SiMfyIJsl5CQNfBHHHOy51YS8gfBVNl-51kMD41Ax23eZNkFsaw?key=VzF1TC03UHVadlpMd1pqZVFBbUZYN0M1Skx5enVn&source=ctrlq.org'><img src='https://lh3.googleusercontent.com/etsa-UXHFE_w6NSU5UhR0xp-so5hNAmpeTd1J1x-_NW35yYTjQVNwwX2XbrFlFq1HUo80Bwgz2b3A490s5_LAcfozw3DxHHuBpZNb1uKlWWZYHp915kyV4ZXb6s7H43BAKnpBvax1w' /></a>


	</h2>

</div>